.weatherLocationContent {
    font-family: 'Roboto', sans-serif;
    margin: 5vh auto;
    width: 60%;
}
.btn{
    border: none;
    background-color: #026bc0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    padding: 1rem 2rem;
}

.locationContent {
    margin: 0 auto;
    text-align: left;
    width: 60%;
}
.locationContent h1 {
    color:#858788;   
    margin-bottom: 3vh;
    text-align: right;
}