.weatherDataContent{
    /* background-color: firebrick; */
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 auto;
    width: 60%;
}
.weatherExtraInfoContent, .weatherTemperatureContent{
    border-radius: 10px;
    width: 49%;
}
.weatherExtraInfoContent{
    background-color: #e6e7e7;
    padding-top: 50px;
}
.weatherTemperatureContent{
    background-color: #858788;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .weatherIcon{

} */
.temperature{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2.5px 0 15px;
}
.temperatureType{
    font-weight: bold;
    padding-top: 12px;
}
.weatherExtraInfoText{
    display: block;
    font-weight: bold; 
    margin: 0 auto;
    width: 90%;
}
.weatherExtraInfoText span {
    color: #141414;
}